.table {
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.table__column1,
.table__column2,
.table__column3 {
    width: 33%;
    height: 100%;
    min-width: 300px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.table__column1__first,
.table__column1__two,
.table__column1__three,
.table__column2__first,
.table__column2__two,
.table__column2__three,
.table__column3__first,
.table__column3__two,
.table__column3__three{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*task2*/

.table-chat {
    width: 100%;
    height: 100%;
    background-color: grey;
    display: flex;
    box-sizing: border-box;
}
.table-chat__column-user1,
.table-chat__column-masseg,
.table-chat__column-user2 {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 50px;
}

.table-chat__column-user1{
    align-items: flex-end;
}

.table-chat__column-user1__user {
    display: flex;
}

.table-chat__column-user1__user-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.table-chat__column-user1__user-name {
    font-style: italic;
    font-size: 18px;
}

.table-chat__column-user1__user-time {
    color: rgb(153, 153, 153);
}

.table-chat__column-masseg {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table-chat__column-masseg__masseges {
    width: 100%;
    height: 30%;
}
.table-chat__column-masseg__masseges-content-user1 {
    width: 100%;
    height: 15%;
    border: solid 1px black;
    border-radius: 7px 7px 7px 0px;
    background-color: rgb(248, 116, 116);
    font-size: 18px;
    margin-top: 10px;
}
.table-chat__column-masseg__masseges-content-user2 {
    width: 100%;
    height: 15%;
    border: solid 1px black;
    border-radius: 7px 7px 0px 7px;
    background-color: rgb(96, 96, 255);
    font-size: 18px;
    margin-top: 10px;
}
.table-chat__column-user2 {
    align-items: flex-start;
    padding-top: 75px;
}

.table-chat__column-user2__user {
    display: flex;
}

.table-chat__column-user2__user-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.table-chat__column-user2__user-name {
    font-style: italic;
    font-size: 18px;
}
.table-chat__column-user2__user-time {
    color: rgb(153, 153, 153);
}

/*task 3*/
body{
    margin: 0;
}

header{
    width: 100vw;
    height: 6vh;
    background-color: rgb(44, 168, 121);
}

main{
    width: 100vw;
    height: 94vh;
    background-color: rgb(49, 228, 159);
}

.head {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.head__text {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    margin-left: 8px;
}

.table-borders {
    width: 100vw;
    height: 94vh;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.table-borders__column {
    min-width: 300px;
    max-width: 400px;
    height: 80%;
    background-color: rgb(202, 200, 200);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    gap: 11px;
    overflow-y: auto;
    overflow-x: hidden;
}

.table-borders__column__header{
    width: 100%;
    font-size: 26px;
    color: black;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 24px;
}
.table-borders__column__elem {
    width: 85%;
    height: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.table-borders__column__elem-content {
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
}
.table-borders__column__elem-content-text {
    font-size: 18px;
}
.table-borders__column__elem-icons {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 10px;
}

.table-borders__column__elem-icons img{
    width: 18px;
    height: 17px;
    margin-left: 12px;
    margin-bottom: 10px;
}

.table-borders__column__elem-icons img:last-child{
    width: 33px;
    height: 31px;
    margin-left: 50px;
    margin-bottom: 3px;
}